<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>White water adventures</title>
    <link href="wwwroot/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="wwwroot/lib/Font-Awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="wwwroot/lib/jQuery/dist/jquery.js"></script>
    <script src="wwwroot/lib/angular/angular.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
